/***** Globals *****/

:root {
  --primary-color: #1d5888;
  --secondary-color: #ff993b;
  --dark-color: #292929;
  --white-color: #e7e7e7;
}

body {
  color: var(--dark-color);
}

/***** Nav  *****/

nav {
  background-color: var(--dark-color);
}

/***** Main *****/

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

/* .bsicon {
    color: purple;
}

.jsicon {
    color: rgb(226, 211, 4);
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: rgb(11, 82, 214);
} */
/* add above classes to icons in the HTML to enable custom color styles */

.checklist > li i {
    color: var(--primary-color);
}

/***** Footer *****/

footer {
  background-color: var(--dark-color);
  padding-right: 1rem;
}

footer .social > a {
  color: var(--white-color);
  opacity: 0.75;
}

footer .social > a:hover {
  opacity: 0.9;
  color: var(--primary-color);
}

/***** Code Page *****/

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}